# Dataset description

# loanstatnew	description
acc_now_delinq ----	The number of accounts on which the borrower is now delinquent.
addr_state ----	The state provided by the borrower in the loan application
all_util ----	Balance to credit limit on all trades
annual_inc ---- 	The self-reported annual income provided by the borrower during registration.
annual_inc_joint ----	The combined self-reported annual income provided by the co-borrowers during registration
application_type ----	Indicates whether the loan is an individual application or a joint application with two co-borrowers
collection_recovery_fee ----	post charge off collection fee
collections_12_mths_ex_med ----	Number of collections in 12 months excluding medical collections
delinq_2yrs ----	The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
desc ----	Loan description provided by the borrower
dti	---- A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
dti_joint ----	A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income
earliest_cr_line ----	The month the borrower's earliest reported credit line was opened
emp_length ----	Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
emp_title ----	The job title supplied by the Borrower when applying for the loan.*
funded_amnt ----	The total amount committed to that loan at that point in time.
funded_amnt_inv ----	The total amount committed by investors for that loan at that point in time.
grade ----	LC assigned loan grade
home_ownership ----	The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.
id ----	A unique LC assigned ID for the loan listing.
il_util ----	Ratio of total current balance to high credit/credit limit on all install acct
initial_list_status ----	The initial listing status of the loan. Possible values are – W, F
inq_fi ----	Number of personal finance inquiries
inq_last_12m ----	Number of credit inquiries in past 12 months
inq_last_6mths ----	The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
installment ----	The monthly payment owed by the borrower if the loan originates.
int_rate ----	Interest Rate on the loan
issue_d	---- The month which the loan was funded
last_credit_pull_d ----	The most recent month LC pulled credit for this loan
last_pymnt_amnt	---- Last total payment amount received
last_pymnt_d ----	Last month payment was received
loan_amnt ----	The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
loan_status ----	Current status of the loan
max_bal_bc ----	Maximum current balance owed on all revolving accounts
member_id ----	A unique LC assigned Id for the borrower member.
mths_since_last_delinq ----	The number of months since the borrower's last delinquency.
mths_since_last_major_derog ----	Months since most recent 90-day or worse rating
mths_since_last_record ----	The number of months since the last public record.
mths_since_rcnt_il ----	Months since most recent installment accounts opened
next_pymnt_d ----	Next scheduled payment date
open_acc ----	The number of open credit lines in the borrower's credit file.
open_acc_6m ----	Number of open trades in last 6 months
open_il_12m ----	Number of installment accounts opened in past 12 months
open_il_24m ----	Number of installment accounts opened in past 24 months
open_il_6m ----	Number of currently active installment trades
open_rv_12m ----	Number of revolving trades opened in past 12 months
open_rv_24m ----	Number of revolving trades opened in past 24 months
out_prncp ----	Remaining outstanding principal for total amount funded
out_prncp_inv ----	Remaining outstanding principal for portion of total amount funded by investors
pct_tl_nvr_dlq ----	Percent of trades never delinquent
policy_code ----	publicly available policy_code=1
new products not publicly available policy_code=2
pub_rec ----	Number of derogatory public records
purpose ----	A category provided by the borrower for the loan request.
pymnt_plan ----	Indicates if a payment plan has been put in place for the loan
recoveries ----	post charge off gross recovery
revol_bal ----	Total credit revolving balance
revol_util ----	Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
sub_grade ----	LC assigned loan subgrade
term ----	The number of payments on the loan. Values are in months and can be either 36 or 60.
title ----	The loan title provided by the borrower
tot_coll_amt ----	Total collection amounts ever owed
tot_cur_bal ----	Total current balance of all accounts
total_acc ----	The total number of credit lines currently in the borrower's credit file
total_bal_il ----	Total current balance of all installment accounts
total_cu_tl ----	Number of finance trades
total_pymnt ----	Payments received to date for total amount funded
total_pymnt_inv ----	Payments received to date for portion of total amount funded by investors
total_rec_int ----	Interest received to date
total_rec_late_fee ----	Late fees received to date
total_rec_prncp ----	Principal received to date
total_rev_hi_lim ---- 	Total revolving high credit/credit limit
url ----	URL for the LC page with listing data.
verification_status ----	Indicates if income was verified by LC, not verified, or if the income source was verified
verified_status_joint ----	Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified
zip_code ----	The first 3 numbers of the zip code provided by the borrower in the loan application.
	* Employer Title replaces Employer Name for all loans listed after 9/23/2013

In [265]:
loan_data['pymnt_plan'].unique()

array(['n', 'y'], dtype=object)

In [70]:
data_type = pd.read_csv('dat.csv',index_col = 0)

In [266]:
loan_data['home_ownership'].unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

## correct datatypes

In [269]:
num_data.columns

,acc_now_delinq,all_util,annual_inc,annual_inc_joint,collection_recovery_fee,collections_12_mths_ex_med,delinq_2yrs,dti,dti_joint,funded_amnt,...,tot_cur_bal,total_acc,total_bal_il,total_cu_tl,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim
0,0.0,NaN,24000.0,NaN,0.00,0.0,0.0,27.65,NaN,5000,...,NaN,9.0,NaN,NaN,5861.071414,5831.78,861.07,0.00,5000.00,NaN
1,0.0,NaN,30000.0,NaN,1.11,0.0,0.0,1.00,NaN,2500,...,NaN,4.0,NaN,NaN,1008.710000,1008.71,435.17,0.00,456.46,NaN
2,0.0,NaN,12252.0,NaN,0.00,0.0,0.0,8.72,NaN,2400,...,NaN,10.0,NaN,NaN,3003.653644,3003.65,603.65,0.00,2400.00,NaN
3,0.0,NaN,49200.0,NaN,0.00,0.0,0.0,20.00,NaN,10000,...,NaN,37.0,NaN,NaN,12226.302210,12226.30,2209.33,16.97,10000.00,NaN
4,0.0,NaN,80000.0,NaN,0.00,0.0,0.0,17.94,NaN,3000,...,NaN,38.0,NaN,NaN,3242.170000,3242.17,1009.07,0.00,2233.10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,0.0,NaN,31000.0,NaN,0.00,0.0,0.0,28.69,NaN,10000,...,25274.0,15.0,NaN,NaN,3971.880000,3971.88,1027.35,0.00,2944.53,17100.0
887375,0.0,NaN,79000.0,NaN,0.00,0.0,0.0,3.90,NaN,24000,...,140285.0,23.0,NaN,NaN,9532.390000,9532.39,2465.65,0.00,7066.74,10200.0
887376,0.0,NaN,35000.0,NaN,0.00,0.0,0.0,30.90,NaN,13000,...,34178.0,22.0,NaN,NaN,3769.740000,3769.74,1925.24,0.00,1844.50,18000.0
887377,0.0,NaN,64400.0,NaN,0.00,1.0,1.0,27.19,NaN,12000,...,58418.0,20.0,NaN,NaN,3787.670000,3787.67,2234.98,0.00,1552.69,27000.0
887378,0.0,NaN,100000.0,NaN,0.00,0.0,0.0,10.83,NaN,20000,...,33307.0,10.0,NaN,NaN,7943.760000,7943.76,2054.70,0.00,5889.06,41700.0

In [ ]:
home_ownership

In [270]:
data_type.head(20)

,TYPE,DESCRIPTION
COLUMN NAME,,
acc_now_delinq,boolean,The number of accounts on which the borrower is now delinquent.
addr_state,string,The state provided by the borrower in the loan application.
all_util,string,Balance to credit limit on all trades.
annual_inc,decimal,The self-reported annual income provided by the borrower during registration.
annual_inc_joint,string,The combined self-reported annual income provided by the co-borrowers during registration.
application_type,string,Indicates whether the loan is an individual application or a joint application with two co-borrowers.
collection_recovery_fee,decimal,Post-charge off collection fee.
collections_12_mths_ex_med,boolean,Number of collections in 12 months excluding medical collections.
delinq_2yrs,integer,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years.
desc,string,Loan description provided by the borrower.
dti,decimal,A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations excluding mortgage and the requested LC loan divided by the borrower’s self-reported monthly income.
dti_joint,string,A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations excluding mortgages and the requested LC loan divided by the co-borrowers' combined self-reported monthly income.
earliest_cr_line,yearmonth,The month the borrower's earliest reported credit line was opened.
emp_length,string,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
emp_title,string,The job title supplied by the Borrower when applying for the loan.
funded_amnt,integer,The total amount committed to that loan at that point in time.
funded_amnt_inv,decimal,The total amount committed by investors for that loan at that point in time.
grade,string,LC assigned loan grade.
home_ownership,string,The home ownership status provided by the borrower during registration. Possible values are: 1)RENT 2)OWN 3)MORTGAGE 4)OTHER.
id,string,A unique LC assigned ID for the loan listing.

In [246]:
data_type.loc['tot_coll_amt']

TYPE                                        string
DESCRIPTION    Total collection amounts ever owed.
Name: tot_coll_amt, dtype: object

In [247]:
loan_data['tot_coll_amt'].nunique()

10325

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Importing datasets

In [4]:
ld_defaults = pd.read_csv('loan_data_defaults.csv')
ld_2015 = pd.read_csv('loan_data_2015.csv')
ld_0714 = pd.read_csv('loan_data_2007_2014.csv')

C:\Users\modza\AppData\Local\Temp\ipykernel_7388\2477330102.py:1: DtypeWarning: Columns (50) have mixed types. Specify dtype option on import or set low_memory=False.
  ld_defaults = pd.read_csv('loan_data_defaults.csv')
C:\Users\modza\AppData\Local\Temp\ipykernel_7388\2477330102.py:2: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  ld_2015 = pd.read_csv('loan_data_2015.csv')
C:\Users\modza\AppData\Local\Temp\ipykernel_7388\2477330102.py:3: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  ld_0714 = pd.read_csv('loan_data_2007_2014.csv')

In [5]:
ld_0714.shape

(466285, 75)

In [6]:
ld_0714.sample(5)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
320348,320348,25185983,27628944,20000,20000,20000.0,60 months,16.99,496.95,D,...,NaN,NaN,NaN,NaN,NaN,NaN,20000.0,NaN,NaN,NaN
228680,228680,1105692,1342073,10000,10000,9950.0,36 months,7.90,312.91,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459561,459561,10645574,12517670,21000,21000,20950.0,60 months,12.85,476.21,B,...,NaN,NaN,NaN,NaN,NaN,NaN,64500.0,NaN,NaN,NaN
417885,417885,13276794,15319020,10050,10050,10050.0,36 months,21.99,383.77,E,...,NaN,NaN,NaN,NaN,NaN,NaN,21500.0,NaN,NaN,NaN
40080,40080,585604,752387,2000,2000,2000.0,36 months,14.72,69.06,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

va = ld_0714.var()
var1 = np.around(va, decimals=4)

In [64]:
variances_formatted = va.apply(lambda x: f"{x:.2f}")

variances_formatted.sort_values(ascending = False)

variance = pd.DataFrame({'var':va.apply(lambda x: f"{x/10**3:.5f}%")})
variance.sort_values(by = ['var'], ascending = False)

va.apply(lambda x: f"{x/10**3:.5f}%").sort_values(ascending = False)

# Describe the data

In [7]:
print('total number of rows and columns in ld_0714: ',ld_0714.shape, '\n'
     'total number of rows and columns in ld_2015: ',ld_2015.shape)

total number of rows and columns in ld_0714:  (466285, 75)
total number of rows and columns in ld_2015:  (421094, 74)

## 1) ld_0714 dataset

In [8]:
ld_0714.drop(['Unnamed: 0'],axis =1,inplace = True)

In [9]:
# retrieving the last 5 rows from loan_07_14 dataset
ld_0714.tail(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

In [10]:
ld_0714.duplicated().sum()

0

In [11]:
mv_07 = pd.DataFrame({'mv_count':ld_0714.isnull().sum(),
                                'percent_missing':ld_0714.isnull().sum()/len(ld_0714) *100}
                              ).sort_values(by = ['percent_missing'], ascending = False)
#mv_07.head(20)

In [12]:
mv_07.head()

                           mv_count  percent_missing
inq_last_12m                 466285            100.0
verification_status_joint    466285            100.0
open_acc_6m                  466285            100.0
open_il_6m                   466285            100.0
open_il_12m                  466285            100.0

In [13]:
print('total no of columns having missing value more than 70% are {}'. format(len(mv_07[mv_07.percent_missing.gt(70)])),'\n', 
     'and the columns are listed as follows {}'.format(list(np.array(mv_07[mv_07.percent_missing.gt(70)].index))))

total no of columns having missing value more than 70% are 20
 and the columns are listed as follows ['inq_last_12m', 'verification_status_joint', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'dti_joint', 'total_bal_il', 'annual_inc_joint', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'mths_since_last_record', 'mths_since_last_major_derog', 'desc']

In [14]:
#retrieving the first 5 rows from loan_2015 dataset
ld_2015.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,68444620,73334399,35000,35000,35000.0,60 months,11.99,778.38,C,C1,...,35367.0,49.3,0.0,1.0,5020.0,40.1,52200.0,1.0,4.0,0.0
1,68547583,73437441,8650,8650,8650.0,36 months,5.32,260.50,A,A1,...,24041.0,88.8,0.0,3.0,3081.0,57.9,26800.0,1.0,0.0,5.0
2,67849662,72708407,4225,4225,4225.0,36 months,14.85,146.16,C,C5,...,3830.0,21.9,0.0,0.0,367.0,22.4,4300.0,0.0,0.0,0.0
3,68506885,73396712,10000,10000,10000.0,60 months,11.99,222.40,C,C1,...,35354.0,75.5,1.0,1.0,3118.0,67.4,14200.0,1.0,1.0,1.0
4,68341763,72928789,20000,20000,20000.0,60 months,10.78,432.66,B,B4,...,10827.0,72.8,0.0,2.0,2081.0,64.7,14000.0,2.0,5.0,1.0

In [252]:
loan_data['acc_now_delinq'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: acc_now_delinq, dtype: float64

In [15]:
ld_2015.duplicated().sum()

0

In [17]:
mv_15 = pd.DataFrame({'mv_count':ld_2015.isnull().sum(),
                                'percent_missing':ld_2015.isnull().sum()/len(ld_2015) *100}
                              ).sort_values(by = ['percent_missing'], ascending = False)
#mv_15.head(20)

In [18]:
mv_15.head()

                           mv_count  percent_missing
desc                         421049        99.989314
dti_joint                    420585        99.879124
annual_inc_joint             420583        99.878649
verification_status_joint    420583        99.878649
il_util                      402477        95.578897

In [19]:
print('total no of columns having missing value more than 70% are {}'. format(len(mv_15[mv_15.percent_missing.gt(70)])),'\n', 
     'and the columns are listed as follows {}'.format(list(np.array(mv_15[mv_15.percent_missing.gt(70)].index))))

total no of columns having missing value more than 70% are 20
 and the columns are listed as follows ['desc', 'dti_joint', 'annual_inc_joint', 'verification_status_joint', 'il_util', 'mths_since_rcnt_il', 'inq_last_12m', 'total_bal_il', 'open_acc_6m', 'open_il_6m', 'open_il_24m', 'open_il_12m', 'inq_fi', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_cu_tl', 'mths_since_last_record', 'mths_since_last_major_derog']

cm = pd.DataFrame({'0714':mv_07[mv_07.percent_missing.gt(70)]['index'],'%m':mv_07[mv_07.percent_missing.gt(70)]['percent_missing'],
             '15':mv_15[mv_15.percent_missing.gt(70)]['index'],'%missing':mv_15[mv_15.percent_missing.gt(70)]['percent_missing']})

## Concatenating both the data sets

In [20]:
#conactenating both the dataframes
loan_data = pd.concat([ld_0714,ld_2015])

In [47]:
loan_data = loan_data.reset_index(drop = True)

# Datatype verification

In [21]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887379 entries, 0 to 421093
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  int64
 3   funded_amnt                  887379 non-null  int64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126028 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887227 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  int64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  int64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(45), int64(6), object(23)
memory usage: 507.8+ MB

rloan_data.to_csv('loan_data_wo_current')

In [33]:
data_type = data_type.sort_values(by = ['COLUMN NAME'])

In [48]:
loan_data_c = loan_data.sort_index(axis = 1)

In [103]:
loan_data_c = loan_data_c.rename(columns = {'verification_status_joint': 'verified_status_joint'})

In [ ]:
for column in loan_data_c.columns:
    if loan_data_c[column].dtype

In [104]:
for column in loan_data_c.columns:
    
    print(column,'\n','given_data_type: ',loan_data_c[column].dtype,'\n','actual_datatype: ', data_type.loc[column]['TYPE'])

acc_now_delinq
 given_data_type:  float64
 actual_datatype:  boolean
addr_state
 given_data_type:  object
 actual_datatype:  string
all_util
 given_data_type:  float64
 actual_datatype:  string
annual_inc
 given_data_type:  float64
 actual_datatype:  decimal
annual_inc_joint
 given_data_type:  float64
 actual_datatype:  string
application_type
 given_data_type:  object
 actual_datatype:  string
collection_recovery_fee
 given_data_type:  float64
 actual_datatype:  decimal
collections_12_mths_ex_med
 given_data_type:  float64
 actual_datatype:  boolean
delinq_2yrs
 given_data_type:  float64
 actual_datatype:  integer
desc
 given_data_type:  object
 actual_datatype:  string
dti
 given_data_type:  float64
 actual_datatype:  decimal
dti_joint
 given_data_type:  float64
 actual_datatype:  string
earliest_cr_line
 given_data_type:  object
 actual_datatype:  yearmonth
emp_length
 given_data_type:  object
 actual_datatype:  string
emp_title
 given_data_type:  object
 actual_datatype:  string
funded_amnt
 given_data_type:  int64
 actual_datatype:  integer
funded_amnt_inv
 given_data_type:  float64
 actual_datatype:  decimal
grade
 given_data_type:  object
 actual_datatype:  string
home_ownership
 given_data_type:  object
 actual_datatype:  string
id
 given_data_type:  int64
 actual_datatype:  string
il_util
 given_data_type:  float64
 actual_datatype:  string
initial_list_status
 given_data_type:  object
 actual_datatype:  boolean
inq_fi
 given_data_type:  float64
 actual_datatype:  string
inq_last_12m
 given_data_type:  float64
 actual_datatype:  string
inq_last_6mths
 given_data_type:  float64
 actual_datatype:  integer
installment
 given_data_type:  float64
 actual_datatype:  decimal
int_rate
 given_data_type:  float64
 actual_datatype:  decimal
issue_d
 given_data_type:  object
 actual_datatype:  yearmonth
last_credit_pull_d
 given_data_type:  object
 actual_datatype:  yearmonth
last_pymnt_amnt
 given_data_type:  float64
 actual_datatype:  decimal
last_pymnt_d
 given_data_type:  object
 actual_datatype:  yearmonth
loan_amnt
 given_data_type:  int64
 actual_datatype:  integer
loan_status
 given_data_type:  object
 actual_datatype:  string
max_bal_bc
 given_data_type:  float64
 actual_datatype:  string
member_id
 given_data_type:  int64
 actual_datatype:  integer
mths_since_last_delinq
 given_data_type:  float64
 actual_datatype:  integer
mths_since_last_major_derog
 given_data_type:  float64
 actual_datatype:  string
mths_since_last_record
 given_data_type:  float64
 actual_datatype:  integer
mths_since_rcnt_il
 given_data_type:  float64
 actual_datatype:  string
next_pymnt_d
 given_data_type:  object
 actual_datatype:  yearmonth
open_acc
 given_data_type:  float64
 actual_datatype:  integer
open_acc_6m
 given_data_type:  float64
 actual_datatype:  string
open_il_12m
 given_data_type:  float64
 actual_datatype:  string
open_il_24m
 given_data_type:  float64
 actual_datatype:  string
open_il_6m
 given_data_type:  float64
 actual_datatype:  string
open_rv_12m
 given_data_type:  float64
 actual_datatype:  string
open_rv_24m
 given_data_type:  float64
 actual_datatype:  string
out_prncp
 given_data_type:  float64
 actual_datatype:  decimal
out_prncp_inv
 given_data_type:  float64
 actual_datatype:  decimal
policy_code
 given_data_type:  int64
 actual_datatype:  boolean
pub_rec
 given_data_type:  float64
 actual_datatype:  integer
purpose
 given_data_type:  object
 actual_datatype:  string
pymnt_plan
 given_data_type:  object
 actual_datatype:  boolean
recoveries
 given_data_type:  float64
 actual_datatype:  decimal
revol_bal
 given_data_type:  int64
 actual_datatype:  integer
revol_util
 given_data_type:  float64
 actual_datatype:  decimal
sub_grade
 given_data_type:  object
 actual_datatype:  string
term
 given_data_type:  object
 actual_datatype:  string
title
 given_data_type:  object
 actual_datatype:  string
tot_coll_amt
 given_data_type:  float64
 actual_datatype:  string
tot_cur_bal
 given_data_type:  float64
 actual_datatype:  string
total_acc
 given_data_type:  float64
 actual_datatype:  integer
total_bal_il
 given_data_type:  float64
 actual_datatype:  string
total_cu_tl
 given_data_type:  float64
 actual_datatype:  string
total_pymnt
 given_data_type:  float64
 actual_datatype:  decimal
total_pymnt_inv
 given_data_type:  float64
 actual_datatype:  decimal
total_rec_int
 given_data_type:  float64
 actual_datatype:  decimal
total_rec_late_fee
 given_data_type:  float64
 actual_datatype:  decimal
total_rec_prncp
 given_data_type:  float64
 actual_datatype:  decimal
total_rev_hi_lim
 given_data_type:  float64
 actual_datatype:  string
url
 given_data_type:  object
 actual_datatype:  url
verification_status
 given_data_type:  object
 actual_datatype:  string
verified_status_joint
 given_data_type:  object
 actual_datatype:  string
zip_code
 given_data_type:  object
 actual_datatype:  string

In [120]:
data_ = pd.DataFrame(loan_data_c.dtypes)

In [134]:
#to display, complete value present in a column
pd.set_option('display.max_colwidth', None)

###  ***delinquent : Failing to do what law or duty requires,Overdue in payment.

In [159]:
az.columns

Index(['TYPE', 'DESCRIPTION', 0], dtype='object')

In [160]:
#pd.DataFrame(loan_data_c.dtypes)
az = data_type.iloc[:,:2].merge(data_,left_index = True,right_index = True)
az = az.rename(columns = {0 :'actual_dt'})
az.head(2)

,TYPE,DESCRIPTION,actual_dt
acc_now_delinq,boolean,The number of accounts on which the borrower is now delinquent.,float64
addr_state,string,The state provided by the borrower in the loan application.,object

In [180]:
az['TYPE'].replace(['string','decimal'], value = ['object','float64'],inplace = True)

In [191]:
az['TYPE'].replace(['integer'], value = ['int64'],inplace = True)

#### a) total column having correct datatypes

In [192]:
print(len(az[az['TYPE'].eq(az['actual_dt'])]))
print(az[az['TYPE'].eq(az['actual_dt'])])

35
                            TYPE  \
addr_state                object
annual_inc               float64
application_type          object
collection_recovery_fee  float64
desc                      object
dti                      float64
emp_length                object
emp_title                 object
funded_amnt                int64
funded_amnt_inv          float64
grade                     object
home_ownership            object
installment              float64
int_rate                 float64
last_pymnt_amnt          float64
loan_amnt                  int64
loan_status               object
member_id                  int64
out_prncp                float64
out_prncp_inv            float64
purpose                   object
recoveries               float64
revol_bal                  int64
revol_util               float64
sub_grade                 object
term                      object
title                     object
total_pymnt              float64
total_pymnt_inv          float64
total_rec_int            float64
total_rec_late_fee       float64
total_rec_prncp          float64
verification_status       object
verified_status_joint     object
zip_code                  object

                                                                                                                                                                                                                    DESCRIPTION  \
addr_state                                                                                                                                                          The state provided by the borrower in the loan application.
annual_inc                                                                                                                                        The self-reported annual income provided by the borrower during registration.
application_type                                                                                                          Indicates whether the loan is an individual application or a joint application with two co-borrowers.
collection_recovery_fee                                                                                                                                                                         Post-charge off collection fee.
desc                                                                                                                                                                                 Loan description provided by the borrower.
dti                      A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations excluding mortgage and the requested LC loan divided by the borrower’s self-reported monthly income.
emp_length                                                                                    Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
emp_title                                                                                                                                                    The job title supplied by the Borrower when applying for the loan.
funded_amnt                                                                                                                                                      The total amount committed to that loan at that point in time.
funded_amnt_inv                                                                                                                                    The total amount committed by investors for that loan at that point in time.
grade                                                                                                                                                                                                   LC assigned loan grade.
home_ownership                                                                                    The home ownership status provided by the borrower during registration. Possible values are: 1)RENT 2)OWN 3)MORTGAGE 4)OTHER.
installment                                                                                                                                                    The monthly payment owed by the borrower if the loan originates.
int_rate                                                                                                                                                                                             Interest Rate on the loan.
last_pymnt_amnt                                                                                                                                                                             Last total payment amount received.
loan_amnt                                            The listed amount of the loan applied for by the borrower. If at some point in time the credit department reduces the loan amount then it will be reflected in this value.
loan_status                                                                                                                                                                                         Current status of the loan.
member_id                                                                                                                                                                      A unique LC assigned ID for the borrower member.
out_prncp                                                                                                                                                          Remaining outstanding principal for the total amount funded.
out_prncp_inv                                                                                                                              Remaining outstanding principal for the portion of total amount funded by investors.
purpose                                                                                                                                                               A category provided by the borrower for the loan request.
recoveries                                                                                                                                                                                      Post-charge off gross recovery.
revol_bal                                                                                                                                                                                       Total credit revolving balance.
revol_util                                                                                            Revolving line utilization rate or the amount of credit the borrower is using relative to all available revolving credit.
sub_grade                                                                                                                                                                                            LC assigned loan subgrade.
term                                                                                                                                       The number of payments on the loan. Values are in months and can be either 36 or 60.
title                                                                                                                                                                                  The loan title provided by the borrower.
total_pymnt                                                                                                                                                              Payments received to date for the total amount funded.
total_pymnt_inv                                                                                                                              Payments received to date for the portion of the total amount funded by investors.
total_rec_int                                                                                                                                                                                        Interest received to date.
total_rec_late_fee                                                                                                                                                                                  Late fees received to date.
total_rec_prncp                                                                                                                                                                                     Principal received to date.
verification_status                                                                                                                   Indicates if income was verified by LC not verified or if the income source was verified.
verified_status_joint                                                                                         Indicates if the co-borrowers' joint income was verified by LC not verified or if the income source was verified.
zip_code                                                                                                                                  The first 3 numbers of the zip code provided by the borrower in the loan application.

                        actual_dt
addr_state                 object
annual_inc                float64
application_type           object
collection_recovery_fee   float64
desc                       object
dti                       float64
emp_length                 object
emp_title                  object
funded_amnt                 int64
funded_amnt_inv           float64
grade                      object
home_ownership             object
installment               float64
int_rate                  float64
last_pymnt_amnt           float64
loan_amnt                   int64
loan_status                object
member_id                   int64
out_prncp                 float64
out_prncp_inv             float64
purpose                    object
recoveries                float64
revol_bal                   int64
revol_util                float64
sub_grade                  object
term                       object
title                      object
total_pymnt               float64
total_pymnt_inv           float64
total_rec_int             float64
total_rec_late_fee        float64
total_rec_prncp           float64
verification_status        object
verified_status_joint      object
zip_code                   object

#### b) columns having incorrect datatypes

In [193]:
print(len(az[~az['TYPE'].eq(az['actual_dt'])]))
print(az[~az['TYPE'].eq(az['actual_dt'])])

39
                                  TYPE  \
acc_now_delinq                 boolean
all_util                        object
annual_inc_joint                object
collections_12_mths_ex_med     boolean
delinq_2yrs                      int64
dti_joint                       object
earliest_cr_line             yearmonth
id                              object
il_util                         object
initial_list_status            boolean
inq_fi                          object
inq_last_12m                    object
inq_last_6mths                   int64
issue_d                      yearmonth
last_credit_pull_d           yearmonth
last_pymnt_d                 yearmonth
max_bal_bc                      object
mths_since_last_delinq           int64
mths_since_last_major_derog     object
mths_since_last_record           int64
mths_since_rcnt_il              object
next_pymnt_d                 yearmonth
open_acc                         int64
open_acc_6m                     object
open_il_12m                     object
open_il_24m                     object
open_il_6m                      object
open_rv_12m                     object
open_rv_24m                     object
policy_code                    boolean
pub_rec                          int64
pymnt_plan                     boolean
tot_coll_amt                    object
tot_cur_bal                     object
total_acc                        int64
total_bal_il                    object
total_cu_tl                     object
total_rev_hi_lim                object
url                                url

                                                                                                                                                                                                                                   DESCRIPTION  \
acc_now_delinq                                                                                                                                                                 The number of accounts on which the borrower is now delinquent.
all_util                                                                                                                                                                                                Balance to credit limit on all trades.
annual_inc_joint                                                                                                                                    The combined self-reported annual income provided by the co-borrowers during registration.
collections_12_mths_ex_med                                                                                                                                                   Number of collections in 12 months excluding medical collections.
delinq_2yrs                                                                                                                      The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years.
dti_joint                    A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations excluding mortgages and the requested LC loan divided by the co-borrowers' combined self-reported monthly income.
earliest_cr_line                                                                                                                                                            The month the borrower's earliest reported credit line was opened.
id                                                                                                                                                                                               A unique LC assigned ID for the loan listing.
il_util                                                                                                                                                Ratio of total current balance to high credit/credit limit on all installment accounts.
initial_list_status                                                                                                                                                     The initial listing status of the loan. Possible values are – 1)W 2)F.
inq_fi                                                                                                                                                                                                   Number of personal finance inquiries.
inq_last_12m                                                                                                                                                                                 Number of credit inquiries in the past 12 months.
inq_last_6mths                                                                                                                                           The number of inquiries in the past 6 months (excluding auto and mortgage inquiries).
issue_d                                                                                                                                                                                                   The month which the loan was funded.
last_credit_pull_d                                                                                                                                                                       The most recent month LC pulled credit for this loan.
last_pymnt_d                                                                                                                                                                                                  Last month payment was received.
max_bal_bc                                                                                                                                                                             Maximum current balance owed on all revolving accounts.
mths_since_last_delinq                                                                                                                                                             The number of months since the borrower's last delinquency.
mths_since_last_major_derog                                                                                                                                                               Months since the most recent 90-day or worse rating.
mths_since_last_record                                                                                                                                                                      The number of months since the last public record.
mths_since_rcnt_il                                                                                                                                                                       Months since most recent installment accounts opened.
next_pymnt_d                                                                                                                                                                                                      Next scheduled payment date.
open_acc                                                                                                                                                                        The number of open credit lines in the borrower's credit file.
open_acc_6m                                                                                                                                                                                        Number of open trades in the last 6 months.
open_il_12m                                                                                                                                                                       Number of installment accounts opened in the past 12 months.
open_il_24m                                                                                                                                                                       Number of installment accounts opened in the past 24 months.
open_il_6m                                                                                                                                                                                      Number of currently active installment trades.
open_rv_12m                                                                                                                                                                           Number of revolving trades opened in the past 12 months.
open_rv_24m                                                                                                                                                                           Number of revolving trades opened in the past 24 months.
policy_code                                                                                                                                              Publicly available policy_code=1 (new products not publicly available policy_code=2).
pub_rec                                                                                                                                                                                                   Number of derogatory public records.
pymnt_plan                                                                                                                                                                     Indicates if a payment plan has been put in place for the loan.
tot_coll_amt                                                                                                                                                                                               Total collection amounts ever owed.
tot_cur_bal                                                                                                                                                                                             Total current balance of all accounts.
total_acc                                                                                                                                                            The total number of credit lines currently in the borrower's credit file.
total_bal_il                                                                                                                                                                                Total current balance of all installment accounts.
total_cu_tl                                                                                                                                                                                                          Number of finance trades.
total_rev_hi_lim                                                                                                                                                                                     Total revolving high credit/credit limit.
url                                                                                                                                                                                                     URL for the LC page with listing data.

                            actual_dt
acc_now_delinq                float64
all_util                      float64
annual_inc_joint              float64
collections_12_mths_ex_med    float64
delinq_2yrs                   float64
dti_joint                     float64
earliest_cr_line               object
id                              int64
il_util                       float64
initial_list_status            object
inq_fi                        float64
inq_last_12m                  float64
inq_last_6mths                float64
issue_d                        object
last_credit_pull_d             object
last_pymnt_d                   object
max_bal_bc                    float64
mths_since_last_delinq        float64
mths_since_last_major_derog   float64
mths_since_last_record        float64
mths_since_rcnt_il            float64
next_pymnt_d                   object
open_acc                      float64
open_acc_6m                   float64
open_il_12m                   float64
open_il_24m                   float64
open_il_6m                    float64
open_rv_12m                   float64
open_rv_24m                   float64
policy_code                     int64
pub_rec                       float64
pymnt_plan                     object
tot_coll_amt                  float64
tot_cur_bal                   float64
total_acc                     float64
total_bal_il                  float64
total_cu_tl                   float64
total_rev_hi_lim              float64
url                            object

In [217]:
#checking missing values count in columns having incorrect datatypes
loan_data_c.loc[:, list(az[~az['TYPE'].eq(az['actual_dt'])].index)].isnull().sum()

acc_now_delinq                     29
all_util                       866007
annual_inc_joint               886868
collections_12_mths_ex_med        145
delinq_2yrs                        29
dti_joint                      886870
earliest_cr_line                   29
id                                  0
il_util                        868762
initial_list_status                 0
inq_fi                         866007
inq_last_12m                   866007
inq_last_6mths                     29
issue_d                             0
last_credit_pull_d                 53
last_pymnt_d                    17659
max_bal_bc                     866007
mths_since_last_delinq         454312
mths_since_last_major_derog    665676
mths_since_last_record         750326
mths_since_rcnt_il             866569
next_pymnt_d                   252971
open_acc                           29
open_acc_6m                    866007
open_il_12m                    866007
open_il_24m                    866007
open_il_6m                     866007
open_rv_12m                    866007
open_rv_24m                    866007
policy_code                         0
pub_rec                            29
pymnt_plan                          0
tot_coll_amt                    70276
tot_cur_bal                     70276
total_acc                          29
total_bal_il                   866007
total_cu_tl                    866007
total_rev_hi_lim                70276
url                                 0
dtype: int64

In [219]:
#creating a new datframe having numeric values only
num_data = loan_data_c.select_dtypes(include = ['float64','int64'])

In [255]:
num_data.head()

,acc_now_delinq,all_util,annual_inc,annual_inc_joint,collection_recovery_fee,collections_12_mths_ex_med,delinq_2yrs,dti,dti_joint,funded_amnt,...,tot_cur_bal,total_acc,total_bal_il,total_cu_tl,total_pymnt,total_pymnt_inv,total_rec_int,total_rec_late_fee,total_rec_prncp,total_rev_hi_lim
0,0.0,NaN,24000.0,NaN,0.00,0.0,0.0,27.65,NaN,5000,...,NaN,9.0,NaN,NaN,5861.071414,5831.78,861.07,0.00,5000.00,NaN
1,0.0,NaN,30000.0,NaN,1.11,0.0,0.0,1.00,NaN,2500,...,NaN,4.0,NaN,NaN,1008.710000,1008.71,435.17,0.00,456.46,NaN
2,0.0,NaN,12252.0,NaN,0.00,0.0,0.0,8.72,NaN,2400,...,NaN,10.0,NaN,NaN,3003.653644,3003.65,603.65,0.00,2400.00,NaN
3,0.0,NaN,49200.0,NaN,0.00,0.0,0.0,20.00,NaN,10000,...,NaN,37.0,NaN,NaN,12226.302210,12226.30,2209.33,16.97,10000.00,NaN
4,0.0,NaN,80000.0,NaN,0.00,0.0,0.0,17.94,NaN,3000,...,NaN,38.0,NaN,NaN,3242.170000,3242.17,1009.07,0.00,2233.10,NaN

In [220]:
num_data.describe().T

,count,mean,std,min,25%,50%,75%,max
acc_now_delinq,887350.0,4.991266e-03,7.762534e-02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01
all_util,21372.0,6.083194e+01,2.001325e+01,0.00,4.770000e+01,6.190000e+01,7.520000e+01,1.514000e+02
annual_inc,887375.0,7.502759e+04,6.469830e+04,0.00,4.500000e+04,6.500000e+04,9.000000e+04,9.500000e+06
annual_inc_joint,511.0,1.099810e+05,5.273038e+04,17950.00,7.603250e+04,1.017710e+05,1.328000e+05,5.000000e+05
collection_recovery_fee,887379.0,4.880757e+00,6.312528e+01,0.00,0.000000e+00,0.000000e+00,0.000000e+00,7.002190e+03
collections_12_mths_ex_med,887234.0,1.437952e-02,1.341908e-01,0.00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01
delinq_2yrs,887350.0,3.144419e-01,8.622438e-01,0.00,0.000000e+00,0.000000e+00,0.000000e+00,3.900000e+01
dti,887379.0,1.815704e+01,1.719063e+01,0.00,1.191000e+01,1.765000e+01,2.395000e+01,9.999000e+03
dti_joint,509.0,1.831012e+01,7.169233e+00,3.00,1.320000e+01,1.761000e+01,2.265000e+01,4.386000e+01
funded_amnt,887379.0,1.474188e+04,8.429898e+03,500.00,8.000000e+03,1.300000e+04,2.000000e+04,3.500000e+04
funded_amnt_inv,887379.0,1.470246e+04,8.442107e+03,0.00,8.000000e+03,1.300000e+04,2.000000e+04,3.500000e+04
id,887379.0,3.246513e+07,2.282734e+07,54734.00,9.206643e+06,3.443327e+07,5.490814e+07,6.861706e+07
il_util,18617.0,7.153532e+01,2.302286e+01,0.00,5.860000e+01,7.490000e+01,8.760000e+01,2.233000e+02
inq_fi,21372.0,9.439453e-01,1.446872e+00,0.00,0.000000e+00,0.000000e+00,1.000000e+00,1.700000e+01
inq_last_12m,21372.0,1.977307e+00,2.874067e+00,-4.00,0.000000e+00,2.000000e+00,3.000000e+00,3.200000e+01
inq_last_6mths,887350.0,6.946233e-01,9.984477e-01,0.00,0.000000e+00,0.000000e+00,1.000000e+00,3.300000e+01
installment,887379.0,4.367171e+02,2.441866e+02,15.67,2.607050e+02,3.825500e+02,5.726000e+02,1.445460e+03
int_rate,887379.0,1.324674e+01,4.381867e+00,5.32,9.990000e+00,1.299000e+01,1.620000e+01,2.899000e+01
last_pymnt_amnt,887379.0,2.164146e+03,4.794783e+03,0.00,2.801700e+02,4.627800e+02,8.312450e+02,3.647559e+04
loan_amnt,887379.0,1.475526e+04,8.435456e+03,500.00,8.000000e+03,1.300000e+04,2.000000e+04,3.500000e+04
max_bal_bc,21372.0,5.887980e+03,5.284701e+03,0.00,2.411000e+03,4.483000e+03,7.771500e+03,1.273050e+05
member_id,887379.0,3.500182e+07,2.411335e+07,70473.00,1.087713e+07,3.709528e+07,5.847135e+07,7.354484e+07
mths_since_last_delinq,433067.0,3.406380e+01,2.188494e+01,0.00,1.500000e+01,3.100000e+01,5.000000e+01,1.880000e+02
mths_since_last_major_derog,221703.0,4.410484e+01,2.217984e+01,0.00,2.700000e+01,4.400000e+01,6.100000e+01,1.880000e+02
mths_since_last_record,137053.0,7.011790e+01,2.812791e+01,0.00,5.100000e+01,7.000000e+01,9.200000e+01,1.290000e+02
mths_since_rcnt_il,20810.0,2.091269e+01,2.720908e+01,0.00,6.000000e+00,1.200000e+01,2.300000e+01,3.630000e+02
open_acc,887350.0,1.154847e+01,5.317313e+00,0.00,8.000000e+00,1.100000e+01,1.400000e+01,9.000000e+01
open_acc_6m,21372.0,1.109021e+00,1.242675e+00,0.00,0.000000e+00,1.000000e+00,2.000000e+00,1.400000e+01
open_il_12m,21372.0,7.616508e-01,9.960346e-01,0.00,0.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01
open_il_24m,21372.0,1.674574e+00,1.688725e+00,0.00,0.000000e+00,1.000000e+00,2.000000e+00,1.900000e+01
open_il_6m,21372.0,2.928832e+00,3.089987e+00,0.00,1.000000e+00,2.000000e+00,4.000000e+00,4.000000e+01
open_rv_12m,21372.0,1.389060e+00,1.520129e+00,0.00,0.000000e+00,1.000000e+00,2.000000e+00,2.200000e+01
open_rv_24m,21372.0,2.975482e+00,2.631886e+00,0.00,1.000000e+00,2.000000e+00,4.000000e+00,4.300000e+01
out_prncp,887379.0,8.403125e+03,8.493450e+03,0.00,0.000000e+00,6.458290e+03,1.365906e+04,4.937286e+04
out_prncp_inv,887379.0,8.399713e+03,8.489998e+03,0.00,0.000000e+00,6.455810e+03,1.365405e+04,4.937286e+04
policy_code,887379.0,1.000000e+00,0.000000e+00,1.00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pub_rec,887350.0,1.953074e-01,5.820907e-01,0.00,0.000000e+00,0.000000e+00,0.000000e+00,8.600000e+01
recoveries,887379.0,4.591924e+01,4.096939e+02,0.00,0.000000e+00,0.000000e+00,0.000000e+00,3.352027e+04
revol_bal,887379.0,1.692079e+04,2.242679e+04,0.00,6.443000e+03,1.187500e+04,2.082900e+04,2.904836e+06
revol_util,886877.0,5.506769e+01,2.383434e+01,0.00,3.770000e+01,5.600000e+01,7.360000e+01,8.923000e+02
tot_coll_amt,817103.0,2.257026e+02,1.031137e+04,0.00,0.000000e+00,0.000000e+00,0.000000e+00,9.152545e+06
tot_cur_bal,817103.0,1.394582e+05,1.537500e+05,0.00,2.985300e+04,8.055900e+04,2.082050e+05,8.000078e+06
total_acc,887350.0,2.526803e+01,1.184056e+01,1.00,1.700000e+01,2.400000e+01,3.200000e+01,1.690000e+02
total_bal_il,21372.0,3.655281e+04,4.310383e+04,0.00,1.025150e+04,2.468450e+04,4.785800e+04,8.784590e+05
total_cu_tl,21372.0,1.537058e+00,2.723339e+00,0.00,0.000000e+00,0.000000e+00,2.000000e+00,3.500000e+01
total_pymnt,887379.0,7.558827e+03,7.871243e+03,0.00,1.914590e+03,4.894999e+03,1.061681e+04,5.777758e+04
total_pymnt_inv,887379.0,7.521160e+03,7.846109e+03,0.00,1.899700e+03,4.862010e+03,1.056569e+04,5.777758e+04
total_rec_int,887379.0,1.754804e+03,2.095356e+03,0.00,4.414600e+02,1.073280e+03,2.238265e+03,2.420562e+04
total_rec_late_fee,887379.0,3.966918e-01,4.087825e+00,0.00,0.000000e+00,0.000000e+00,0.000000e+00,3.586800e+02
total_rec_prncp,887379.0,5.757706e+03,6.625441e+03,0.00,1.200570e+03,3.215320e+03,8.000000e+03,3.500003e+04
total_rev_hi_lim,817103.0,3.206862e+04,3.749826e+04,0.00,1.390000e+04,2.370000e+04,3.980000e+04,9.999999e+06

In [221]:
#creating dataframe having categorical values only
cat_data = loan_data_c.select_dtypes(include = 'object')

In [222]:
cat_data.describe().T

,count,unique,top,freq
addr_state,887379,51,CA,129517
application_type,887379,2,INDIVIDUAL,886868
desc,126028,124469,,246
earliest_cr_line,887350,697,Aug-01,6659
emp_length,842554,11,10+ years,291569
emp_title,835917,299269,Teacher,13469
grade,887379,7,B,254535
home_ownership,887379,6,MORTGAGE,443557
initial_list_status,887379,2,f,456848
issue_d,887379,103,Oct-15,48631
last_credit_pull_d,887326,103,Jan-16,730574
last_pymnt_d,869720,98,Jan-16,470150
loan_status,887379,10,Current,601779
next_pymnt_d,634408,100,Feb-16,553406
purpose,887379,14,debt_consolidation,524215
pymnt_plan,887379,2,n,887369
sub_grade,887379,35,B3,56323
term,887379,2,36 months,621125
title,887227,63110,Debt consolidation,414001
url,887379,887379,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501,1
verification_status,887379,3,Source Verified,329558
verified_status_joint,511,3,Not Verified,283
zip_code,887379,935,945xx,9770

# Check for duplicates

In [223]:
loan_data_c.duplicated().sum()

0

# check for missing values

In [224]:
missing_values = pd.DataFrame({'mv_count':loan_data_c.isnull().sum(),
                                'percent_missing':loan_data_c.isnull().sum()/len(loan_data_c) *100}
                              ).sort_values(by = ['percent_missing'], ascending = False)

In [225]:
missing_values.head(25)

                             mv_count  percent_missing
dti_joint                      886870        99.942640
verified_status_joint          886868        99.942415
annual_inc_joint               886868        99.942415
il_util                        868762        97.902024
mths_since_rcnt_il             866569        97.654892
open_acc_6m                    866007        97.591559
inq_last_12m                   866007        97.591559
open_il_6m                     866007        97.591559
open_il_24m                    866007        97.591559
open_il_12m                    866007        97.591559
total_bal_il                   866007        97.591559
open_rv_24m                    866007        97.591559
open_rv_12m                    866007        97.591559
total_cu_tl                    866007        97.591559
max_bal_bc                     866007        97.591559
all_util                       866007        97.591559
inq_fi                         866007        97.591559
desc                           761351        85.797726
mths_since_last_record         750326        84.555303
mths_since_last_major_derog    665676        75.015974
mths_since_last_delinq         454312        51.197065
next_pymnt_d                   252971        28.507661
tot_coll_amt                    70276         7.919502
tot_cur_bal                     70276         7.919502
total_rev_hi_lim                70276         7.919502

In [256]:
print(missing_values[missing_values.percent_missing.gt(52)])
print()
print('total number of columns with more than 80% of misssing values: ', len(missing_values[missing_values.percent_missing.gt(52)]))
print()
print(loan_data_c.shape)

                             mv_count  percent_missing
dti_joint                      886870        99.942640
verified_status_joint          886868        99.942415
annual_inc_joint               886868        99.942415
il_util                        868762        97.902024
mths_since_rcnt_il             866569        97.654892
open_acc_6m                    866007        97.591559
inq_last_12m                   866007        97.591559
open_il_6m                     866007        97.591559
open_il_24m                    866007        97.591559
open_il_12m                    866007        97.591559
total_bal_il                   866007        97.591559
open_rv_24m                    866007        97.591559
open_rv_12m                    866007        97.591559
total_cu_tl                    866007        97.591559
max_bal_bc                     866007        97.591559
all_util                       866007        97.591559
inq_fi                         866007        97.591559
desc                           761351        85.797726
mths_since_last_record         750326        84.555303
mths_since_last_major_derog    665676        75.015974

total number of columns with more than 80% of misssing values:  20

(887379, 74)

In [231]:
#loan_data[loan_data.isnull().sum(axis =1).gt(20)]
print()
print('total records in dataset: ', len(loan_data_c))
print()
print('Records having missing values in more than 20 columns: ',len(loan_data_c[loan_data_c.isnull().sum(axis =1).gt(20)]))

total records in dataset:  887379

Records having missing values in more than 20 columns:  451524

In [234]:
pd.DataFrame({'mv_count':loan_data_c.isnull().sum(),
                                'percent_missing':loan_data_c.isnull().sum()/len(loan_data_c) *100}
                              ).sort_values(by = ['percent_missing'], ascending = True).head(20)

                     mv_count  percent_missing
zip_code                    0              0.0
sub_grade                   0              0.0
initial_list_status         0              0.0
revol_bal                   0              0.0
recoveries                  0              0.0
pymnt_plan                  0              0.0
installment                 0              0.0
int_rate                    0              0.0
issue_d                     0              0.0
purpose                     0              0.0
last_pymnt_amnt             0              0.0
loan_amnt                   0              0.0
loan_status                 0              0.0
policy_code                 0              0.0
member_id                   0              0.0
out_prncp_inv               0              0.0
id                          0              0.0
out_prncp                   0              0.0
home_ownership              0              0.0
funded_amnt_inv             0              0.0

loan_data[['loan_status','purpose']]

# Unique values

In [235]:
#getting the total number of unique values and datatype of each individual column through iteration.
for row in cat_data.columns:
    print('total unique value count in {} is'.format(row),'\n','unique values: ',cat_data[row].nunique(),
         '\n','data_ty: ', cat_data[row].dtype)

total unique value count in addr_state is
 unique values:  51
 data_ty:  object
total unique value count in application_type is
 unique values:  2
 data_ty:  object
total unique value count in desc is
 unique values:  124469
 data_ty:  object
total unique value count in earliest_cr_line is
 unique values:  697
 data_ty:  object
total unique value count in emp_length is
 unique values:  11
 data_ty:  object
total unique value count in emp_title is
 unique values:  299269
 data_ty:  object
total unique value count in grade is
 unique values:  7
 data_ty:  object
total unique value count in home_ownership is
 unique values:  6
 data_ty:  object
total unique value count in initial_list_status is
 unique values:  2
 data_ty:  object
total unique value count in issue_d is
 unique values:  103
 data_ty:  object
total unique value count in last_credit_pull_d is
 unique values:  103
 data_ty:  object
total unique value count in last_pymnt_d is
 unique values:  98
 data_ty:  object
total unique value count in loan_status is
 unique values:  10
 data_ty:  object
total unique value count in next_pymnt_d is
 unique values:  100
 data_ty:  object
total unique value count in purpose is
 unique values:  14
 data_ty:  object
total unique value count in pymnt_plan is
 unique values:  2
 data_ty:  object
total unique value count in sub_grade is
 unique values:  35
 data_ty:  object
total unique value count in term is
 unique values:  2
 data_ty:  object
total unique value count in title is
 unique values:  63110
 data_ty:  object
total unique value count in url is
 unique values:  887379
 data_ty:  object
total unique value count in verification_status is
 unique values:  3
 data_ty:  object
total unique value count in verified_status_joint is
 unique values:  3
 data_ty:  object
total unique value count in zip_code is
 unique values:  935
 data_ty:  object

# our target variable loan_status has 10 unique values, in this case our probelm is mutli-label classification.

In [236]:
#creating a dictionary to get the number of unique values of ecah column in a dataframe
unik = {} 
for row in cat_data.columns:
    unik[row] = cat_data[row].nunique()

for row in loan_data.columns:
    print(tuple(enumerate(loan_data.columns,loan_data[row].nunique())))

In [237]:
unik_vals = pd.DataFrame({'unique_value_counts': unik.values()}, unik.keys())

In [260]:
loan_data['earliest_cr_line'].unique()

array(['Jan-85', 'Apr-99', 'Nov-01', 'Feb-96', 'Jan-96', 'Nov-04',
       'Jul-05', 'Jan-07', 'Apr-04', 'Sep-04', 'Jan-98', 'Oct-89',
       'Jul-03', 'May-91', 'Sep-07', 'Oct-98', 'Aug-93', 'Oct-03',
       'Jan-01', 'Nov-97', 'Feb-83', 'Jul-85', 'Apr-03', 'Jun-01',
       'Feb-02', 'Aug-84', 'Nov-06', 'Dec-87', 'Nov-81', 'Feb-97',
       'Apr-05', 'Oct-07', 'Dec-00', 'Apr-07', 'Dec-01', 'Jan-03',
       'Mar-94', 'Sep-98', 'Jun-04', 'Nov-95', 'Jul-99', 'Jun-95',
       'Sep-92', 'Jan-02', 'Apr-92', 'Oct-06', 'May-00', 'Dec-98',
       'Dec-04', 'Oct-00', 'May-02', 'May-06', 'Jul-02', 'Jul-06',
       'May-97', 'Oct-05', 'Apr-95', 'Oct-02', 'Jan-00', 'Apr-00',
       'Dec-94', 'Sep-05', 'Dec-84', 'Dec-99', 'Nov-03', 'Jun-89',
       'Jun-03', 'Oct-96', 'May-03', 'Jun-02', 'Jun-07', 'Dec-96',
       'Feb-84', 'Sep-02', 'Jan-86', 'May-98', 'Jan-97', 'Jun-05',
       'Feb-90', 'Mar-04', 'Jul-95', 'Aug-94', 'Jun-92', 'Mar-97',
       'Apr-06', 'Apr-90', 'Aug-99', 'Sep-00', 'Feb-01', 'Dec-88',
       'Feb-99', 'Dec-91', 'Aug-00', 'Oct-04', 'Aug-04', 'Feb-05',
       'Nov-05', 'Nov-00', 'May-07', 'Jan-91', 'Jun-00', 'Aug-06',
       'Dec-02', 'Jun-93', 'Jun-06', 'Feb-04', 'Dec-90', 'Mar-00',
       'Feb-95', 'Jul-01', 'Apr-02', 'Sep-06', 'May-99', 'Aug-98',
       'Dec-05', 'May-04', 'Oct-01', 'Jun-83', 'Mar-86', 'Apr-80',
       'Jul-04', 'Jul-08', 'May-96', 'Jan-04', 'Nov-02', 'Aug-02',
       'Aug-01', 'Mar-91', 'Sep-89', 'Sep-94', 'Sep-03', 'Sep-99',
       'Aug-05', 'Dec-86', 'Nov-98', 'Feb-06', 'May-94', 'Nov-07',
       'Feb-93', 'Nov-91', 'May-05', 'Dec-73', 'May-01', 'Mar-90',
       'Mar-96', 'Oct-79', 'Jun-81', 'Mar-01', 'Apr-01', 'Jun-99',
       'Nov-93', 'Jan-06', 'Dec-97', 'Nov-94', 'Jul-97', 'Oct-91',
       'Jun-94', 'Mar-06', 'Sep-96', 'Apr-91', 'Jul-93', 'Jan-95',
       'Sep-87', 'Mar-03', 'Oct-99', 'Jul-96', 'Dec-03', 'Aug-88',
       'Jan-92', 'Mar-98', 'Feb-07', 'Aug-82', 'Mar-95', 'Dec-92',
       'Jul-98', 'Jul-89', 'May-90', 'Jul-94', 'Sep-01', 'Mar-84',
       'Aug-03', 'Nov-99', 'Mar-07', 'Mar-08', 'Apr-94', 'Jan-05',
       'Jul-86', 'Aug-90', 'May-92', 'Jul-00', 'Mar-88', 'May-83',
       'Apr-93', 'Jul-78', 'Feb-00', 'Dec-81', 'Mar-92', 'Jan-81',
       'Sep-90', 'Jun-98', 'May-93', 'Nov-96', 'Mar-02', 'Jan-88',
       'Aug-97', 'Aug-87', 'Aug-08', 'Oct-94', 'Oct-86', 'Feb-94',
       'Jun-96', 'Feb-98', 'Nov-08', 'Apr-98', 'Jul-79', 'Jan-93',
       'May-87', 'Jul-71', 'Aug-07', 'Jun-97', 'Mar-80', 'Dec-06',
       'Jul-07', 'Oct-95', 'Jul-91', 'Jul-92', 'Dec-72', 'Dec-93',
       'Jan-99', 'Feb-03', 'Apr-97', 'Dec-95', 'Apr-96', 'Jul-90',
       'Mar-70', 'Nov-84', 'Apr-84', 'Jul-84', 'Aug-95', 'Mar-99',
       'Sep-88', 'Mar-89', 'Mar-87', 'Oct-97', 'Dec-80', 'Jan-94',
       'Sep-95', 'Mar-05', 'Jan-89', 'Feb-92', 'Jan-90', 'Nov-90',
       'Mar-69', 'Jun-75', 'Mar-85', 'Dec-07', 'Oct-93', 'Dec-89',
       'Sep-80', 'Jun-88', 'May-78', 'Apr-73', 'Aug-89', 'Oct-90',
       'Sep-91', 'Feb-82', 'Feb-87', 'Nov-85', 'Jan-84', 'Jul-88',
       'May-08', 'Oct-85', 'Mar-83', 'Aug-91', 'Sep-86', 'Jun-90',
       'Feb-86', 'Sep-97', 'Jun-84', 'Sep-81', 'Apr-86', 'Aug-79',
       'Aug-80', 'Nov-92', 'Sep-93', 'Jun-87', 'Sep-82', 'Aug-92',
       'Aug-85', 'Jul-83', 'Jun-91', 'Dec-83', 'Jan-87', 'Nov-78',
       'Oct-84', 'Aug-96', 'Nov-89', 'Sep-76', 'Nov-86', 'Oct-87',
       'Sep-08', 'May-77', 'May-86', 'Mar-81', 'Jan-83', 'Nov-76',
       'Sep-79', 'Oct-83', 'Sep-62', 'Jun-85', 'May-82', 'Feb-88',
       'Oct-92', 'Aug-83', 'Jun-73', 'Apr-85', 'Oct-88', 'Oct-81',
       'Sep-68', 'Jul-74', 'Nov-87', 'May-95', 'Feb-91', 'Nov-88',
       'Mar-93', 'Jun-08', 'Jul-80', 'Dec-82', 'Mar-75', 'Feb-80',
       'Apr-88', 'Dec-79', 'Sep-85', 'Sep-71', 'Mar-78', 'Feb-08',
       'Aug-78', 'Nov-70', 'Jun-79', 'Jun-80', 'Apr-89', 'Sep-83',
       'Feb-89', 'Nov-83', 'Jun-86', 'Oct-82', 'Aug-86', 'Oct-80',
       'May-88', 'Dec-85', 'Jan-82', 'Sep-77', 'Dec-76', 'Apr-82',
       'May-84', 'Apr-08', 'Feb-79', 'Jan-08', 'Sep-64', 'Jul-87',
       'Jan-78', 'May-89', 'Oct-77', 'Dec-75', 'Feb-85', 'Oct-08',
       'Nov-82', 'May-75', 'May-85', 'Feb-71', 'Jun-77', 'Apr-81',
       'May-79', 'Jan-72', 'Sep-67', 'Apr-78', 'Feb-65', 'Apr-83',
       'Nov-75', 'Jun-67', 'Mar-74', 'Jul-72', 'Aug-67', 'Apr-71',
       'Sep-84', 'May-81', 'Dec-70', 'Oct-73', 'Jan-71', 'Dec-63',
       'Apr-74', 'Jan-80', 'Aug-69', 'Apr-75', 'Jul-77', 'Mar-77',
       'Nov-69', 'Jan-76', 'Mar-82', 'Apr-87', 'Dec-69', 'May-74',
       'Aug-74', 'Jun-72', 'Mar-63', 'Nov-79', 'Aug-75', 'Sep-74',
       'Aug-81', 'May-73', 'Sep-73', 'Mar-73', 'Dec-77', 'Oct-76',
       'Jan-74', 'Jan-70', 'Aug-68', 'Feb-76', 'Jan-75', 'Oct-72',
       'Dec-74', 'Feb-73', 'Nov-65', 'Mar-72', 'Jun-82', 'Jun-74',
       'May-65', 'Jun-71', 'Oct-70', 'Apr-76', 'Oct-71', 'Apr-77',
       'Sep-78', 'Oct-78', 'Oct-54', 'Feb-81', 'Jan-77', 'Aug-77',
       'Dec-78', 'Aug-76', 'Jun-68', 'Jun-78', 'Jun-69', 'May-80',
       'Jan-79', 'Oct-65', 'Nov-74', 'Apr-66', 'Jun-76', 'Feb-72',
       'May-76', 'Mar-68', 'Mar-76', 'Jul-70', 'Mar-79', 'Jul-76',
       'Jul-82', 'Sep-65', 'Apr-67', 'Oct-63', 'Feb-70', 'Jul-73',
       'Feb-78', 'Nov-71', 'Aug-72', 'Jul-75', 'Sep-70', 'Jul-81',
       'Oct-64', 'Sep-72', 'May-70', 'May-63', 'Feb-69', 'Nov-80',
       'Jul-67', 'Apr-70', 'Nov-77', 'Nov-66', 'May-71', 'Apr-79',
       'May-72', 'Feb-68', 'Jul-64', 'Nov-67', 'Apr-64', 'Feb-75',
       'Jun-59', 'Sep-56', 'Jun-66', 'Jan-46', 'Mar-66', 'Jan-63',
       'Dec-50', 'Jul-69', 'Jan-68', 'Nov-73', 'Jun-70', 'Feb-77',
       'Feb-74', 'Jan-73', 'Feb-66', 'Dec-61', 'Aug-73', 'Aug-70',
       'Sep-69', 'Sep-75', 'Dec-68', 'Nov-54', 'Oct-69', 'Dec-65',
       'Apr-72', 'Nov-72', 'Sep-63', 'Apr-69', 'Nov-62', 'Oct-67',
       'May-67', 'Nov-61', 'Feb-67', 'Nov-68', 'Oct-75', 'Mar-71',
       'Aug-71', 'Dec-66', 'Oct-68', 'Oct-74', 'Nov-63', 'Apr-68',
       'May-69', 'Nov-59', nan, 'Oct-10', 'Dec-09', 'Nov-10', 'Jan-10',
       'Dec-08', 'Sep-09', 'Jul-10', 'Jan-09', 'May-09', 'May-10',
       'Sep-10', 'Apr-09', 'Nov-09', 'Apr-10', 'Mar-09', 'Feb-09',
       'Aug-09', 'Oct-09', 'Jun-09', 'Jun-10', 'Jul-09', 'Feb-10',
       'Mar-10', 'Aug-10', 'Jan-61', 'Oct-62', 'Jun-64', 'Apr-62',
       'Jan-60', 'Sep-66', 'Mar-65', 'May-68', 'Jul-66', 'Dec-56',
       'Dec-71', 'Apr-65', 'Jan-64', 'Jul-65', 'Jan-65', 'Jan-62',
       'Aug-64', 'Jan-69', 'Oct-66', 'Jun-62', 'Dec-67', 'Oct-60',
       'Jul-62', 'Dec-60', 'Jul-60', 'Jun-65', 'May-66', 'Oct-57',
       'Aug-65', 'May-60', 'Jan-67', 'Nov-53', 'Oct-59', 'Jun-63',
       'Mar-67', 'Jul-63', 'Nov-60', 'Mar-62', 'Mar-64', 'Jul-68',
       'Feb-63', 'Jan-66', 'Dec-64', 'May-64', 'Oct-61', 'Aug-60',
       'Mar-60', 'Apr-55', 'Sep-59', 'Aug-66', 'Jul-55', 'Aug-61',
       'Nov-64', 'May-53', 'Nov-50', 'Nov-55', 'Mar-61', 'Feb-57',
       'Aug-63', 'Feb-60', 'Sep-60', 'Feb-64', 'Dec-51', 'Nov-58',
       'Aug-62', 'Oct-58', 'May-62', 'Mar-11', 'Jun-11', 'Dec-10',
       'Oct-11', 'Sep-11', 'Jul-11', 'Apr-11', 'May-11', 'Jan-11',
       'Feb-11', 'Aug-11', 'Apr-63', 'Nov-11', 'Dec-58', 'Jan-58',
       'Jul-59', 'Jan-55', 'May-59', 'Aug-46', 'Apr-61', 'Jun-58',
       'Jul-58', 'Jun-60', 'Jan-51', 'Dec-62', 'Mar-59', 'Aug-58',
       'Jan-59', 'Feb-61', 'Sep-57', 'Jun-49', 'Jun-61', 'Jan-56',
       'Jan-54', 'Jan-57', 'Jan-44', 'Oct-50', 'Jan-48', 'Jul-61',
       'May-58', 'Jan-53', 'May-50', 'Nov-56', 'Feb-12', 'May-12',
       'Mar-12', 'Dec-11', 'Apr-12', 'Nov-12', 'Jul-12', 'Aug-12',
       'Jun-12', 'Oct-12', 'Jan-12', 'Sep-12', 'May-61', 'Feb-59',
       'Jan-50', 'Sep-61', 'Jun-55', 'Sep-53', 'Aug-59', 'Mar-58',
       'Dec-59', 'Apr-60', 'Nov-57', 'May-55', 'Aug-51', 'Jun-57',
       'May-57', 'Jan-52', 'Mar-55', 'Jul-51', 'Aug-50', 'Aug-55',
       'Apr-58'], dtype=object)

In [238]:
unik_vals.sort_values(by = ['unique_value_counts'],ascending = False).head(20) #sorting the values in descending order in order to get the columns with highest number of unique values

                       unique_value_counts
url                                 887379
emp_title                           299269
desc                                124469
title                                63110
zip_code                               935
earliest_cr_line                       697
issue_d                                103
last_credit_pull_d                     103
next_pymnt_d                           100
last_pymnt_d                            98
addr_state                              51
sub_grade                               35
purpose                                 14
emp_length                              11
loan_status                             10
grade                                    7
home_ownership                           6
verification_status                      3
verified_status_joint                    3
initial_list_status                      2

In [239]:
#import pandas as pd

# Assuming 'loan_data' is your DataFrame
loan_data_c.to_csv('loan_data.csv', index=False)  # Set 'index=False' to exclude the DataFrame index in the CSV

In [241]:
az.to_csv('loan_data_datatypes.csv', index = False)

In [243]:
data_type.loc['mths_since_last_major_derog']

TYPE                                                         string
DESCRIPTION    Months since the most recent 90-day or worse rating.
Name: mths_since_last_major_derog, dtype: object

from IPython.display import FileLink


FileLink('unik_vals.csv')